<div class= "chat-top">
  <div class="chat-overview">
    <%= @room.name %>
  </div>
  <div class="end-button"> 
      <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
  </div>
</div>

<div class= "chat-middle">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: 'chat-bottom', local: true do |f| %>
  <div class="message-image">
    <%= f.text_field :content, class: 'type-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'send' %>
<% end %>









